<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      [ngModel]="post?.title"
      placeholder="Post Title"
      required
      #title="ngModel"> </mat-form-field>
    <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    <mat-form-field>
      <textarea
      matInput
      rows="6"
      name="content"
      [ngModel]="post?.content"
      required
      placeholder="Post Content"
      #content="ngModel"></textarea>
      </mat-form-field>
      <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      >Save Post</button>
  </form>
</mat-card>
